body{
    background-image: url(../img/fondo.jpg);
    background-size: cover;
}

.contenedor{
    background-color: aqua;
    margin: 3%;
    margin-left: auto;
    margin-right: auto;
    padding: 3%;
    color: white;
    background-color: rgb(30, 18, 97, 0.87);
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 20px;
}

.contenedor h2, h6{
    text-align: center;
}
.boton{
    margin-top: 3%;
    margin-left: 25%;
    font-weight: bold;
    width: 50%;
}

